.title {
  color: rgb(14, 8, 1);
}

body {
    background: url(../images/titlepage.jpg);
  background-size: auto;
  margin: auto;
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.radio-label {
    display: inline-block;
     vertical-align: top;
     margin-right: 3%;
 }
 .radio-input {
    display: inline-block;
     vertical-align: top;
 }

 .table, th, td {
    border: 1px solid;
  }